html
{
  background-color: #000;
  font-size: 12px;
}

.overallErrorPage
{
  margin: 0 auto;
  background-color: #000;
}

.errorPageHead
{
  margin: 3em;
  text-align: center;
  font-size: 3em;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
}

.errorPageSecondHead
{
  text-align: center;
  font-size: 1.6em;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.buttons
{
    margin: 30px;
}
.buttons a.button
{
  width: 8em;
  height: 4em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  display: block;
  background-color: white;
  font-weight: 500;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: black;
  border-radius: 26px;
  transition: all 0.5s ease-in-out;
}

.buttons a.button:hover
{
  background-color: white;
  color: black;
  transition: all 0.5s ease-in-out;
}
